@font-face {
    font-family: 'freight_sans_pro_bold_regular';
    font-weight: 900; 
    font-style: normal; 
    src: url(./font/FreightSansProBold-Regular.ttf);
}

@font-face {
    font-family: 'freight_sans_pro_black_regular';
    font-weight: 700;
    font-style: normal; 
    src: url(./font/FreightSansProBlack-Regular.ttf);
}

@font-face {
    font-family: 'freight_sans_pro_semibold_regular';
    font-weight: 500;
    font-style: normal; 
    src: url(./font/FreightSansProSemibold-Regular.ttf);
}

@font-face {
    font-family: 'freight_sans_pro_medium_regular';
    font-weight: 500;
    font-style: normal; 
    src: url(./font/FreightSansProMedium-Regular.ttf);
}


@font-face {
    font-family: 'freight_sans_pro_light_regular';
    font-weight: 500;
    font-style: normal; 
    src: url(./font/FreightSansProLight-Regular.ttf);
}



@font-face {
    font-family: 'GT_Pressura_Mono_Regular';
    src: url(./font/GT-Pressura-Mono-Regular-Trial.woff2);
}





* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* 이렇게 하면 적용 되려나?  */
    /* 아, 그리고, 개발자도구에서는, 그렇게 보이지만, 까보면, 보조 폰트 였어 */
    font-family: 'freight_sans_pro_bold_regular', sans-serif;
    font-weight: 400;
    font-style: normal;

    color: #3e4240;

    line-height: 1;

    box-sizing: border-box;

    /* anti aliasing */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
}




/* ------------ 맨 위 빨간 배너 START ------------------ */

body .top_banner {
    height: auto;
    width: 100%;

    background-color: #e2010d;
    display: block;

    min-height: 30px;
    padding: 10px 0px;

    font-weight: 400;
    /* color: #3e4240; */

}


body .top_banner .top_banner_text {
    color: #ffffff;
    text-align: center;
    display: block;

    font-size: 1rem;
        /* 글꼴 크기에 "rem" 단위를 사용하는 것은 글꼴 크기를 루트 요소의 글꼴 크기에 기반하여 확장 가능하고 반응형으로 만드는 좋은 방법입니다. */

    font-weight: 700 !important;

    
    /* ⭐⭐ margin 0 을 해서 > 딱 붙네 이게  */
    margin: 0;

    /* background-color: yellow; */

}


.top_banner .top_banner_text a {
    color : #fff ;

    /* ⭐⭐⭐⭐⭐ 밑줄이 조금 더 글자 밑으로 내려오게 하는 부분 */
    text-underline-offset : 4px;
}

/* ------------ 맨 위 빨간 배너 END ------------------ */


/* ------------- header START ------------------------------ */

.site_header .site_header__top .site_header__top_logo {
    height: auto;
    width: auto;
    /* background-color: aqua; */

    display: flex;
    justify-content: center;
    align-items: center;
    
    /* 📛 패딩 주의 📛 */
    padding-top: 20px;
    padding-bottom: 20px;

}

.site_header__top_logo .a_tag .img_tag {
    display: block;

    height: auto;
    width: 250px;
    max-width: 100%;
    
    overflow: clip;
}



.site_header .site_header__primary-nav {
    /* background-color: navy; */
    
    display: block;
    /* 😥 부모로 부터 받겠다... 근데, site header 는 영역이 없는데... */

    /* 아... 😥 지금 width 100% 를 하면 딱 생기는 구나 지금  */
    /* 📛 패딩 주의 📛 */
    /* padding: 0 80px; */
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    
}



.site_header__primary-nav .site_header__primary-nav--social {
    /* background-color: yellow ; */

    /* 마진 주의📛 */
    margin-left: 70px;
}


.site_header__primary-nav--social a {
    text-decoration: none;
}

.site_header__primary-nav--social a img {
    width: auto;
    height: 15px;
    max-width: 100%;
}

.site_header__primary-nav--social a img:first-child{
    /* 📛마진주의📛 */
    margin-right: 35px;
}


/* ul 태그 */
.site_header__primary-nav .site_header__primary-nav--menus {
/* background-color: lightblue; */

list-style: none;
}


.site_header__primary-nav--menus .nav_menus {
    /* 텍스트가 중앙정렬됨 */
    text-align: center;

    /* 📛 마진 주의 📛 */
    margin: 0;
}


.site_header__primary-nav--menus .nav_menus li {
    /* ⭐⭐⭐⭐⭐ 이걸 하면 완전히 옆으로 오네 */
    display: inline-block;

    /* 📛 패딩주의 📛 */
    padding: 20px 30px;

}


.nav_menus li a {
    font-family: 'GT_Pressura_Mono_Regular',sans-serif;
    font-size: 13px;
    letter-spacing: .04;
    color: #231f20;

    text-decoration: none;

    cursor: pointer;
}




.site_header__primary-nav .site_header__primary-nav--seachlogin {

    /* background-color: lightgreen; */
    display: block;

    /* 📛 마진 주의 */
    margin-right: 70px;
}

.site_header__primary-nav--seachlogin a {
    font-family: 'GT_Pressura_Mono_Regular',sans-serif;
    font-size: 13px;
    letter-spacing: .04;
    color: #231f20;

    text-decoration: none;
    cursor: pointer;

    display: inline-block;
}

.site_header__primary-nav--seachlogin a:first-child {
    /* 📛 마진 주의 📛 
        ⭐ 좌우로 맞추는 방법 뿐 아니라, 어떤 통일성을 갖고 싶어 */
    margin-right: 35px;
}



.site_header__primary-nav--seachlogin a img{
    max-width: 100%;
    height: auto;
    width: 13px;

    position: relative;
    top: 2px;
    left: 2px;
}


.site_header__primary-nav .site_header__primary-nav--loginPopup {
    display: none;
}
/* ------------- header END ------------------------------ */


/* ------------- main section START ------------------------------ */


.main_content .mix_desc_photo {
    display: flex;
    align-items: stretch;
    /* flex-direction: row; */

    background-color: green;

    /* 📛 하드코딩 주의 📛 */
    height: 746px;

    position: relative;
}


/* ⭐⭐ 가상 선택자로 빨간선 긋기 ⭐⭐ */
.main_content .mix_desc_photo::before,
.main_content .mix_desc_photo::after {
    position: absolute;
    
    z-index: 10;
    background-color: #ee3024 ;

    /* ⭐ 이게 두께  */
    height: 3px;
    /* ⭐⭐⭐⭐⭐ 이렇게 계산하니까 맞네 */
    width: calc(100% - 10rem);
    left: 5rem;
    content: "";
}

.main_content .mix_desc_photo::before {
    top: 5rem;
}

.main_content .mix_desc_photo::after {
    bottom: 5rem;
}




.main_content .mix_desc_photo .mix_desc_photo__desc {
    width: 50%;
    text-align: left;

    /* 패딩 주의⭐⭐⭐⭐⭐ 
        ✅ 이게 반응형에서 중요한 수치인가?*/
    padding: 12rem 5rem;

    background-color: #fad0c3;
    color: #ee3024;
}

.mix_desc_photo__desc .mix_desc_photo__desc--top {
max-width: 100%;
/* height: 100%; */
margin: 0;
background-color: gold;

display: flex;
flex-wrap: wrap;
/* justify-content: flex-start; */
/* align-items: center; */

/* height: 100px; */
}


.mix_desc_photo__desc--top .title_wrapper {
    background-color: lightblue;
    max-width: 500px;
    /* margin: 0; */

    display: flex;
    justify-content: center;
    align-items: center;

}

.title_wrapper .title_headline {
    
    /* max width, rem 의 역할을 잘 이해 못 하고 있음😥😥😥 */
    max-width: 80%;
    font-size: 3.5rem;
    line-height: 3.5rem;
    
    /* ⭐⭐⭐⭐⭐ 오 대문자로 바꿔주네 */
    text-transform: uppercase;

    font-family: 'freight_sans_pro_black_regular' , sans-serif;
    font-weight: 900;

    /* 📛 마진주의 📛 */
    margin: 0;
}

.title_wrapper .title_icon {
    width: auto;
    height: auto;
    max-width: 86px;

    /* 📛 마진 주의 📛 */
    margin-left: 30px;

}

.desc_wrap {
    width: 100%;
    height: 200px;
    /* background-color: blue; */
}



.desc_wrap p {
    font-family: 'freight_sans_pro_light_regular', sans-serif;
    font-weight: 600;
    /* background-color: gray; */
    max-width: 500px;
    text-align: left;

    /* 📛 마진 주의 */
    margin-top: .75rem;

    font-size: 1.9rem;
    line-height: 2.3rem;
    letter-spacing: 1.2px;

}

.mix_desc_photo__desc--btn {
    background-color: lightgreen;
    display: flex;
    justify-content: flex-start;

    /* margin-top: 2.5rem; */
}


.btn-surprise-me a {
    display: block;

    text-decoration: none;
    background-color: #ee3024;
    
    color: white;
    
    text-align: center;
    
    font-family: 'freight_sans_pro_black_regular', sans-serif;
    font-weight: 900;
    /* ❓❓ 글씨체가 레퍼런스랑 다름 */
    font-size: 14px;
    text-transform: uppercase;

    border-radius: 50px;

    /* ❓❓❓  */
    transition: all .25s ease;
    
    
    /* 📛 하드코딩 주의 📛 */
    width: 230px;
    
    /* 📛 패딩 주의 📛 */
    padding: 1.3rem 1rem;
} 


.btn-surprise-me a p {
    margin: 0;
}


.input-search-keyword .search-form {
    background-color: burlywood;
    position: relative;

    /* 📛 마진 주의 📛 */
    margin: 0 0 0 1rem;

        /* flex: 1; */
}


.search-form .keyword-input {

    padding: 0.9rem 1.5rem;
    
    /* 📛 하드코딩 주의 📛 */
    width: 320px;
    
    font-size: 0.9rem;
    font-family: 'freight_sans_pro_bold_regular';
    font-weight: 700;
    letter-spacing: 0.01rem;
    text-transform: uppercase;
    
    /* ⭐⭐ input 에서 테두리 선을 없앨 수 있음. */
    border: none;
    border-radius: 50px;

    background-color: #fff;

    color: black;


}

.search-form .keyword-input::placeholder {
    color: black;
}


.input-search-keyword .search-icon-btn {
    border: none;
    width: 2.5rem;
    height: 47px;
    
    border-radius: 50px;
    background-image: url(	https://accidentallywesanderson.com/wp-content/themes/awa/assets/img/icon-search.svg);
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: 50%;

    position: absolute;
    right: 0.5rem;
    top: 0px;
    
    cursor: pointer;

    
}






.mix_desc_photo .mix_desc_photo__gallery {
    width: 50%;
    height: 100%;
    /* height: 746px; */

    background-color: blue;
    
}


/* .slick-slide-item img {
    width: 500px;
    height: 500px;
} */



.slick-track {
    /* height: 100%; */
}


.slick-slide-item img {
    width: 100%;

    /* 📛 하드코딩 주의📛 */
    height: 746px;

    object-fit: cover;
}




/* ------------- ✅ Featured Places START ✅ ----------------- */

.featured-section {
    background-color: #f8f3e4;

    /* 📛 패딩 주의 📛  */
    padding-top: 3rem;
    padding-bottom: 3.5rem;

    position: relative;

}


.featured-header .header-headline {
    font-size: 2.25rem;
    line-height: 2.5rem;

    font-family: 'freight_sans_pro_black_regular';

    font-weight: 900;
    text-transform: uppercase;

    /* 📛 패딩 주의 📛 */
    padding-left: 3rem;

    /* background-color: rebeccapurple; */
}


.featured-gallery {

    /* 📛 하드코딩 주의  */
    width: 1900px;
    height: 600px;

}


.gallery-slide-container {
    width: 1800px;
    height: 610px;
    background-color: blue;

    /* 📛 가운데 맞추려고, 임시방편 📛 */
    margin: 0 auto;

    /* 📛 임시 방편으로 간격 띄움 */
    display: flex;
    justify-content: space-evenly;
    
}

.gallery-slide-container .gallery-slide-item {
    
    width: 385px;
    height: 100%;

    /* float: left; */

    background-color: lightcyan;
}

.gallery-slide-item .card {
    width: 100%;
    height: 100%;
    display: inline-block;
}


.card .card-inner {
    overflow: hidden;
    position: relative;
    border-radius: 12px;

    /* background-color: red; */
    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.card-inner.card-inner-img {
    position: relative;
}

.card-inner-img a {
    cursor: pointer;
    text-decoration: none;
}


.card-inner-img a img {

    /* 📛 임시, 하드코딩 주의 */
    width: 386px;
    height: 386px;
    
    object-fit: cover;
    
}


.card-inner .card-inner-desc {
    background-color: white;

    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

    /* z-index: 0; */
    position: absolute;
    
    /* 📛📛 하드코딩으로 우선 맞춤 📛📛 */
    bottom: 40px;

    /* 📛 패딩주의 📛  */
    padding: 35px 15px 40px;
}

.card-inner-desc .sub-title {
    font-size: 14px;
    line-height: 16px;
    color: #ee3024;
    text-transform: uppercase;
    
    /* 📛 마진주의 📛  */
    margin-top: -12px;
}

.card-inner-desc a {
    color: #3e4240;
    text-decoration: none;
    cursor: pointer;
}

.card-inner-desc a .desc-header {
    /* 📛 마진주의 📛  */
    margin-top: -12px;

    color: #231f20;

    font-weight: 600;
    font-size: 20px;
    line-height: 20px;

    font-family: 'freight_sans_pro_light_regular';

    
}

.card-inner-desc .desc-subdescription {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: .07px;
    color: #3e4240;

    font-family: 'freight_sans_pro_medium_regular', sans-serif;
}


/* -------------  Featured Places END  ----------------- */


/* ------------- ✅ Featured Places START ✅ ----------------- */

.road-trip-section {

}


.inner-content .text-icon img {
    
    max-height: 56px;

}

.inner-content .text-headline h2 {
    color: #000;
    font-size: 2.25rem;
    line-height: 2.5rem;
    text-transform: uppercase;
    font-family: 'freight_sans_pro_black_regular';
}


.inner-content .text-desc p {
    max-width: 860px;
    font-family: 'freight_sans_pro_light_regular', sans-serif;
    font-weight: 600;
    font-size: 1.125rem;
    color: #000;

}


.inner-content .text-btn {
    
    padding: 1rem 2.5rem;
    font-weight: 900;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 50px;
    color: #fff;
    background: #ee3024;
}














/* ---------- 밑에 쫘악 선이 그어지는 것 -----------  */
/*  https://github.com/9oodam/Project-MW/blob/JH/test.css */
.title .title_bottom .title_bottom_txt a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ee3024;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
  }
  
  .title .title_bottom .title_bottom_txt a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }